.DS_Store
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
Gemfile.lock
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
config/initializers/secret_token.rb
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*
test/dummy/tmp/*
test/dummy/.sass-cache
